name: Push components to Espressif Component Service

on:
  push:
    branches:
      - master

jobs:
  upload_components:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          submodules: 'recursive'
      - name: Upload components to component service
        uses: espressif/upload-components-ci-action@v1
        with:
          directories: >
            display/lcd/esp_lcd_jd9165;
            display/lcd/esp_lcd_jd9365_8;
            display/lcd/esp_lcd_jd9365_10_1;
            display/lcd/esp_lcd_hx8394;
            display/lcd/esp_lcd_dsi;
            display/lcd/esp_lcd_sh8601;
            display/lcd/esp_lcd_ili9881c;
            display/lcd/esp_lcd_st7703;
            bsp/esp32_p4_nano;
            bsp/esp32_s3_touch_lcd_4;
            bsp/esp32_s3_touch_amoled_1_8;
            bsp/esp32_s3_touch_amoled_1_75;
            bsp/esp32_p4_wifi6_touch_lcd_xc;
            display/touch/esp_lcd_touch_cst9217;
            bsp/esp32_p4_wifi6_touch_lcd_4b;
            bsp/esp32_s3_touch_amoled_2_06;
            bsp/esp32_s3_touch_lcd_4b;
            bsp/esp32_p4_wifi6_touch_lcd_7b;
            bsp/esp32_s3_touch_lcd_4_3c;
            bsp/esp32_s3_touch_lcd_2_8d;
            bsp/esp32_s3_touch_lcd_1_83;
            sensor/qmi8658;
            sensor/pcf85063a;
            sensor/custom_io_expander_ch32v003;

          namespace: "waveshare"
          api_token: ${{ secrets.IDF_COMPONENT_API_TOKEN }}
